<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>
<body>
    <h1>Comments</h1>
    <ul>
        <% comments.forEach(element => { %>
          <li><b><%- element.username %> </b>says "<%- element.comment %>" <a href="/comments/<%- element.id%>">Show</a></li>  
      <%   });  %> 
    </ul>
    <a href="/comments/new">New Comment</a>
</body>
</html>